<div>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
                <th>Start</th>
                <td>{{ entity.start|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Occupation</th>
                <td>{{ entity.occupation }}</td>
                <th>End</th>
                <td>{{ entity.end|date('d-m-Y') }}</td>
            </tr>
            <tr>

            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>
    <a id="{{ entity.id }}" href="{{path('employee_project_edit', { id: entity.id })}}" class="project btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
</div>