{% extends '::base.html.twig' %}

{% block title %}{% trans %}Change Password{% endtrans %}{% endblock %}

{% block body %}

{% for elementError in form.vars.errors %}
<div class="alert alert-error">
    {{ elementError.message }}<a href="#" class="close" data-dismiss="alert">&times;</a>
</div>
{% endfor %}

{{ form_start(form, {'action': path('change_password', {'confirmationCode': user.confirmationCode, 'email': user.email})}) }}

    {{ form_errors(form.userPassword.Password) }}<br>
    <label>{% trans %}Password{% endtrans %}:</label>
    {{ form_widget(form.userPassword.Password) }}<br>

    <label>{% trans %}RePassword{% endtrans %}:</label>
    {{ form_widget(form.userPassword.RePassword) }}<br>

    <input type="submit" title="{% trans %}Change Password{% endtrans %}" value="{% trans %}Change Password{% endtrans %}">
{{ form_end(form) }}

{% endblock %}