{% extends '::base.html.twig' %}

{% block title %}{% trans %}Forgot Password{% endtrans %}{% endblock %}

{% block body %}

{% if error %}
<div class="alert-message error">
{{ error }}
</div>
{% endif %}

{% if success %}
<div class="alert-message success">
{{ success }}
</div>
{% endif %}

{% for elementError in form.vars.errors %}
<div class="alert alert-error">
    {{ elementError.message }}<a href="#" class="close" data-dismiss="alert">&times;</a>
</div>
{% endfor %}

{{ form_start(form) }}

    {{ form_errors(form.email) }}<br>
    <label>{% trans %}Email{% endtrans %}:</label>
    {{ form_widget(form.email) }}<br>

    <input type="submit" title="{% trans %}Submit{% endtrans %}" value="{% trans %}Submit{% endtrans %}">
{{ form_end(form) }}

{% endblock %}