{{ form_start(form, {'action': path('employee_contact_create'), 'attr': {'class': 'form-horizontal legend', 'id': 'contactForm' } } ) }}


    <div class="control-group">
        <label class="control-label" for="industry">Main Industry</label>
        <div class="controls">
            {{ form_widget(form.industry, { 'attr': {'class': 'chzn-select'} } ) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="countryCode">Main Profession</label>
        <div class="controls">
            {{ form_widget(form.profession, { 'attr': {'class': 'chzn-select'} } ) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
            {{ form_widget(form.email) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="phone">Phone</label>
        <div class="controls">
            {{ form_widget(form.phone) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="countryCode">Country</label>
        <div class="controls">
            {{ form_widget(form.countryCode, { 'attr': {'class': 'chzn-select'} } ) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="city">City</label>
        <div class="controls">
            {{ form_widget(form.city) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="address">Address</label>
        <div class="controls">
            {{ form_widget(form.address) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="im">IM/Skype</label>
        <div class="controls">
            {{ form_widget(form.im) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="twitter">Twitter</label>
        <div class="controls">
            {{ form_widget(form.twitter)}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="website">Website</label>
        <div class="controls">
            {{ form_widget(form.website) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="summary">Summary</label>
        <div class="controls">
            {{ form_widget(form.summary) }}
        </div>
    </div>
    <center>
        {{ form_widget(form.submit, { 'attr': {'class': 'btn bten-large'} } ) }}
    </center>
    <br>

{{ form_end(form) }}