{{ form_start(edit_form, {'action': path('employee_course_update', {id: entity.id}), 'attr': {'class': 'form-horizontal legend', 'id': 'courseForm' } } ) }}
    <div class="control-group">
        <label class="control-label" for="name">Course Name</label>
        <div class="controls">
            {{ form_widget(edit_form.name) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="association">Association</label>
        <div class="controls">
            {{ form_widget(edit_form.association) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="certificate">Certification name</label>
        <div class="controls">
            {{ form_widget(edit_form.certificate) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="authority">Certification Authority</label>
        <div class="controls">
            {{ form_widget(edit_form.authority) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="license">License Number</label>
        <div class="controls">
            {{ form_widget(edit_form.license) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="start">Start Date</label>
        <div class="controls">
            {{ form_widget(edit_form.start)}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="end">End Date</label>
        <div class="controls">
            {{ form_widget(edit_form.end) }}
        </div>
    </div>
    <center>
        {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn bten-large'} } ) }}
    </center>
    <br>
{{ form_end(edit_form) }}