{% extends '::base.html.twig' %}
{% block activeHome %}class="active"{% endblock %}
{% block title %}Welcome to KARAS{% endblock %}

{% block identity %}
    <div class="fullWidth centerBar">
        <div class="wrapper970 relative">
            <img src="{{ asset('img/logo2.jpg') }}" class="logo2"/>
            <img src="{{ asset('img/1.jpg') }}"/>
            <img src="{{ asset('img/picture3.png') }}" class="puzzle"/>
            <img src="{{ asset('img/2.jpg') }}" class="right"/>
        </div>
    </div>
{% endblock %}


{% block body %}
    <div class="flexslider">
        <ul class="slides">
            {% for slide in slides  %}
                <li>
                    <img src="{{ asset(slide.getSmallImageUrl(656,388)) }}" />
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}



{% block indexFooter %}
    <div class="wrapper970">
        <div class="footerCont1">
            <h3 class="marginBottomZero">Find Your Career :</h3>
            <ul class="findCareer">
                {% for profession in professions %}
                    <li><a href="{{ path('objects_karas_job_list', { profession: profession.id } ) }}">{{ profession.title }} <span>&gt;</span></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="footerCont1">
            <h3>Lates Jobs :</h3>
            <ul class="latestJobs">
                {% for recentJob in recentJobs %}
                    {% if loop.index0 is odd %}
                        <li>
                            <a class="allLnk" href="{{ path('objects_karas_job_show', {id: recentJob.id}) }}">
                                <em>&gt;</em><span>{{ recentJob.title }}</span>
                                <span class="lineTwo">{{ recentJob.city }}, {{ recentJob.countryCode }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="footerCont1 marginRightZero">
            <h3 class="lastItem">&nbsp;</h3>
            <ul class="latestJobs">
                {% for recentJob in recentJobs %}
                    {% if loop.index0 is even %}
                    <li>
                        <a class="allLnk" href="{{ path('objects_karas_job_show', {id: recentJob.id}) }}">
                            <em>&gt;</em><span>{{ recentJob.title }}</span>
                            <span class="lineTwo">{{ recentJob.city }}, {{ recentJob.countryCode }}</span>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
            

        <div class="clear">
        </div>
        <div class="fullWidth lineR">
        </div>
        <div class="clear">
        </div>
    </div>
{% endblock %}