{% extends '::base.html.twig' %}
{% block activeRequest %} active{% endblock %}
{% block title %}Add New Job{% endblock %}
{% block body %}
{% set originalParameters = app.request.attributes.get('_route_params') | merge(app.request.query.all()) %}

<div class="tabbable">
    <!-- Only required for left/right tabs -->
    <h3>
        Search Result - Candidates
    </h3>
    <div class="tab-content">
        <ul class="jobList">
            {% for employee in employees %}
                <li style="height: 120px;">
                    <img style="padding: 0px" src="{{ asset(employee.getSmallImageUrl(80,80)) }}">
                    <div class="float-left">
                        <span class="jobName">{{ employee.firstName }}</span>
                        <div class="clear"></div>
                        <span class="jobLocation">ID: #{{ employee.id }}</span>
                        <div class="clear"></div>
                        <span class="jobCategory">
                            From: {{ countries[employee.nationality]}}
                            Location: {{ countries[employee.countryCode] }}
                        </span>
                        <div class="clear"></div>
                        <span class="jobCategory"></span>
                        <div class="clear"></div>
                        <span class="jobDesc">{{ employee.loginName}}</span>
                        <a href="#" class="btn btn-info bookmark" data-id="{{ employee.id }}" >
                            {% if not app.user.isBookmarked(employee.id) %}
                                <i class="icon-check"></i> Bookmark
                            {% else %}
                                <i class="icon-remove"></i> Remove
                            {% endif %}
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    {% if lastPageNumber > 1 %}
        <div class="pagination pagination-centered">
            <ul class="pagination">
                {% set paginationParameters = app.request.attributes.get('_route_params') | merge(app.request.query.all()) %}
                {#% set paginationParameters = {'citySectionSlug': citySectionSlug} | merge(app.request.query.all()) %#}

                <li class="next-page
                {% if page <= 1 %}
                    disabled">
                    <a>
                        <i class="fa fa-angle-double-left"></i>
                        «
                    </a>
                {% else %}
                    ">
                    <a href="{{ path(app.request.attributes.get('_route'), paginationParameters | merge({'page': page - 1})) }}">
                        <i class="fa fa-angle-double-left"></i>
                        «
                    </a>
                {% endif %}
                </li>

                {% if page - 2 > 2 %}
                    <a href="javascript:void(0)" style="cursor: auto;">..</a>
                {% endif %}

                {% set firstlinkNumber = 1 > page - 2 ? 1 : page - 2 %}
                {% set lastlinkNumber = lastPageNumber < page + 2 ? lastPageNumber : page + 2 %}
                {% for numberOfPage in firstlinkNumber..lastlinkNumber %}
                    <li class="{% if page == numberOfPage %} active{% endif %}"><a href="{{ path(app.request.attributes.get('_route'), paginationParameters | merge({'page': numberOfPage})) }}">{{ numberOfPage }}</a></li>
                {% endfor %}
                {% if page + 3 < lastPageNumber %}
                    <a href="javascript:void(0)" style="cursor: auto;">..</a>
                {% endif %}

                <li class="prev-page 
                {% if page >= lastPageNumber %}
                    disabled">
                    <a>
                        »
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                {% else %}
                   "><a href="{{ path(app.request.attributes.get('_route'), paginationParameters | merge({'page': page + 1})) }}" >
                        »
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                {% endif %}

                </li>
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('document').ready(function(){
            $('.bookmark').on('click', function(){
                node = $(this);
                employeeId = $(this).attr('data-id');
                url = "{{ path('objects_karas_bundle_add_to_bookmark') }}" ;
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {employeeId: employeeId },
                    success: function(msg) {
                        if(msg === 'added'){
                            node.html('<i class="icon-user icon-remove"></i> Remove');
                        } else {
                            node.html('<i class="icon-user icon-check"></i> Bookmark');
                        }
                        
                     }
                 });
             });
        })
    </script>
{% endblock %}