{% extends '::base.html.twig' %}
{% block activeRequest %} active{% endblock %}
{% block title %}My Profile{% endblock %}
{% block javascripts %}
    {{ parent()  }}
    <script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chosen.jquery.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".chzn-select").chosen();
            $( ".datepicker" ).datepicker();
        })
    </script>
    
    
    <script>
        $(document).ready(function(){
            $('.experience').on('click', function(e){
                e.preventDefault();
                url = $(this).attr('href');
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function(msg) {
                        $('#experienceDiv').html(msg);
                    }
                });
            });
            $('#newExperience').on('click', function(e){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{{ path('employee_experience_new') }}',
                    success: function(msg) {
                        $('#experienceDiv').html(msg);
                    }
                });
            });
            
            $('.project').on('click', function(e){
                e.preventDefault();
                url = $(this).attr('href');
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function(msg) {
                        $('#projectDiv').html(msg);
                    }
                });
            });
            $('#newProject').on('click', function(e){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{{ path('employee_project_new') }}',
                    success: function(msg) {
                        $('#projectDiv').html(msg);
                    }
                });
            });
            
            $('.course').on('click', function(e){
                e.preventDefault();
                url = $(this).attr('href');
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function(msg) {
                        $('#courseDiv').html(msg);
                    }
                });
            });
            $('#newCourse').on('click', function(e){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{{ path('employee_course_new') }}',
                    success: function(msg) {
                        $('#courseDiv').html(msg);
                    }
                });
            });
            
            $('.skill').on('click', function(e){
                e.preventDefault();
                url = $(this).attr('href');
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function(msg) {
                        $('#skillDiv').html(msg);
                    }
                });
            });
            $('#newSkill').on('click', function(e){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{{ path('employee_skill_new') }}',
                    success: function(msg) {
                        $('#skillDiv').html(msg);
                    }
                });
            });
            
            $('.education').on('click', function(e){
                e.preventDefault();
                url = $(this).attr('href');
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function(msg) {
                        $('#educationDiv').html(msg);
                    }
                });
            });
            $('#newEducation').on('click', function(e){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{{ path('employee_education_new') }}',
                    success: function(msg) {
                        $('#educationDiv').html(msg);
                    }
                });
            });
            
            $('.language').on('click', function(e){
                e.preventDefault();
                url = $(this).attr('href');
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function(msg) {
                        $('#languageDiv').html(msg);
                    }
                });
            });
            $('#newLanguage').on('click', function(e){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{{ path('employee_language_new') }}',
                    success: function(msg) {
                        $('#languageDiv').html(msg);
                    }
                });
            });
            
            $('.contact').on('click', function(e){
                e.preventDefault();
                url = $(this).attr('href');
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function(msg) {
                        $('#contactDiv').html(msg);
                    }
                });
            });
            $('.additional').on('click', function(e){
                e.preventDefault();
                url = $(this).attr('href');
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function(msg) {
                        $('#additionalDiv').html(msg);
                    }
                });
            });
            
        })
    
    </script>
    
    
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/chosen.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.css') }}"/>
{% endblock %}

{% block sideBar %}
    {% set percentage = 0  %}
    {% if experiences|length > 0  %}
        {% set percentage = percentage + 15  %}
    {% endif %}
    {% if courses|length > 0  %}
        {% set percentage = percentage + 15  %}
    {% endif %}
    {% if educations|length > 0  %}
        {% set percentage = percentage + 15  %}
    {% endif %}
    {% if projects|length > 0  %}
        {% set percentage = percentage + 10  %}
    {% endif %}
    {% if skills|length > 0  %}
        {% set percentage = percentage + 10  %}
    {% endif %}
    {% if languages|length > 0  %}
        {% set percentage = percentage + 5  %}
    {% endif %}
    {% if app.user.phone is not null %}
        {% set percentage = percentage + 15  %}
    {% endif %}
    {% if app.user.dateOfBirth is not null %}
        {% set percentage = percentage + 15  %}
    {% endif %}
    <div class="section1over3">
        <img class="logo" src="{{ asset('img/logo.png') }}"/>
        <hr class="hrLogo"/>
        <h3>Profile Complition :</h3>
        <div class="progress progress-striped active">
          <div class="bar" style="width: {{ percentage }}%;"></div>
        </div>
        <button class="btn btn-large btn-block" type="button"> Complete<span style="margin:2px 16px 0 0;" class="right badge badge-success">{{ percentage }}%</span></button>
        {% if app.user.phone is null %}
            <button class="btn btn-large btn-block" type="button"> Add Contact Information<span style="margin:2px 16px 0 0;" class="right badge badge-important">+ 15%</span></button>
        {% endif %}
        {% if experiences|length == 0  %}
            <button class="btn btn-large btn-block" type="button"> Add Work Experience<span style="margin:2px 16px 0 0;" class="right badge badge-important">+ 15%</span></button>
        {% endif %}
        {% if projects|length == 0  %}
            <button class="btn btn-large btn-block" type="button"> Add Work Projects<span style="margin:2px 16px 0 0;" class="right badge badge-important">+ 10%</span></button>
        {% endif %}
        {% if courses|length == 0  %}
            <button class="btn btn-large btn-block" type="button"> Add Courses<span style="margin:2px 16px 0 0;" class="right badge badge-important">+ 15%</span></button>
        {% endif %}
        {% if skills|length == 0  %}
            <button class="btn btn-large btn-block" type="button"> Add Skills<span style="margin:2px 16px 0 0;" class="right badge badge-important">+ 10%</span></button>
        {% endif %}
        {% if educations|length == 0  %}
            <button class="btn btn-large btn-block" type="button"> Add Education<span style="margin:2px 16px 0 0;" class="right badge badge-important">+ 15%</span></button>
        {% endif %}
        {% if app.user.dateOfBirth is null %}
            <button class="btn btn-large btn-block" type="button"> Add Additional Information<span style="margin:2px 16px 0 0;" class="right badge badge-important">+ 15%</span></button>
        {% endif %}
        {% if languages|length == 0  %}
            <button class="btn btn-large btn-block" type="button"> Add Languages<span style="margin:2px 16px 0 0;" class="right badge badge-important">+ 5%</span></button>
        {% endif %}
    </div>
{% endblock %}
    
    

{% block body %}

<div class="tabbable">
    <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Profile</a></li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            <blockquote style="background: #eee	">
                                <p>Contact Information</p>
                            </blockquote>
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% if app.user.phone is null %}
                                {{ render(controller('ObjectsKarasBundle:Contact:new')) }}
                            {% else %}
                                <div id="contactDiv" class="jobList">
                                    <ul class="jobList">
                                        <li style="height: auto">
                                            {{ render(controller('ObjectsKarasBundle:Contact:show') ) }}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                            <blockquote style="background: #eee	">
                                <p>Experience</p>
                            </blockquote>
                        </a>
                    </div>
                    <div id="collapse3" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% if experiences|length == 0 %}
                                {{ render(controller('ObjectsKarasBundle:Experience:new')) }}
                            {% else %}
                                <div id="experienceDiv" class="jobList">
                                    <ul class="jobList">
                                        {% for experience in experiences  %}
                                        <li>
                                            {{ render(controller('ObjectsKarasBundle:Experience:show', { id: experience.id } )) }}
                                        </li>
                                        <br>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <a id="newExperience" href="javascript:void(0)">+ add new experience</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                            <blockquote style="background: #eee	">
                                <p>Projects</p>
                            </blockquote>
                        </a>
                    </div>
                    <div id="collapse4" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% if projects|length == 0 %}
                                {{ render(controller('ObjectsKarasBundle:Project:new')) }}
                            {% else %}
                                <div id="projectDiv" class="jobList">
                                    <ul class="jobList">
                                        {% for project in projects %}
                                        <li>
                                            {{ render(controller('ObjectsKarasBundle:Project:show', { id: project.id } )) }}
                                        </li>
                                        <br>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <a id="newProject" href="javascript:void(0)">+ add new Project</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
                            <blockquote style="background: #eee	">
                                <p>Courses &amp; Certificates</p>
                            </blockquote>
                        </a>
                    </div>
                    <div id="collapse5" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% if courses|length == 0 %}
                                {{ render(controller('ObjectsKarasBundle:Course:new')) }}
                            {% else %}
                                <div id="courseDiv" class="jobList">
                                    <ul class="jobList">
                                        {% for course in courses %}
                                        <li>
                                            {{ render(controller('ObjectsKarasBundle:Course:show', { id: course.id } )) }}
                                        </li>
                                        <br>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <a id="newCourse" href="javascript:void(0)">+ add new Course</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
                            <blockquote style="background: #eee	">
                                <p>Skills &amp; Expertise</p>
                            </blockquote>
                        </a>
                    </div>
                    <div id="collapse6" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% if skills|length == 0 %}
                                {{ render(controller('ObjectsKarasBundle:Skill:new')) }}
                            {% else %}
                                <div id="skillDiv" class="jobList">
                                    <ul class="jobList">
                                        {% for skill in skills %}
                                        <li>
                                            {{ render(controller('ObjectsKarasBundle:Skill:show', { id: skill.id } )) }}
                                        </li>
                                        <br>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <a id="newSkill" href="javascript:void(0)">+ add new Skill</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7">
                            <blockquote style="background: #eee	">
                                <p>Education</p>
                            </blockquote>
                        </a>
                    </div>
                    <div id="collapse7" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% if educations|length == 0 %}
                                {{ render(controller('ObjectsKarasBundle:Education:new')) }}
                            {% else %}
                                <div id="educationDiv" class="jobList">
                                    <ul class="jobList">
                                        {% for education in educations %}
                                        <li>
                                            {{ render(controller('ObjectsKarasBundle:Education:show', { id: education.id } )) }}
                                        </li>
                                        <br>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <a id="newEducation" href="javascript:void(0)">+ add new Education</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse8">
                            <blockquote style="background: #eee">
                                <p>Additional Information</p>
                            </blockquote>
                        </a>
                    </div>
                    <div id="collapse8" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% if app.user.dateOfBirth is null %}
                                {{ render(controller('ObjectsKarasBundle:Additional:new')) }}
                            {% else %}
                                <div id="additionalDiv" class="jobList">
                                    <ul class="jobList">
                                        <li>
                                            {{ render(controller('ObjectsKarasBundle:Additional:show') ) }}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse9">
                            <blockquote style="background: #eee">
                                <p>Languages</p>
                            </blockquote>
                        </a>
                    </div>
                    <div id="collapse9" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% if languages|length == 0 %}
                                {{ render(controller('ObjectsKarasBundle:Language:new')) }}
                            {% else %}
                                <div id="languageDiv" class="jobList">
                                    <ul class="jobList">
                                        {% for language in languages %}
                                        <li>
                                            {{ render(controller('ObjectsKarasBundle:Language:show', { id: language.id } )) }}
                                        </li>
                                        <br>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <a id="newLanguage" href="javascript:void(0)">+ add new Language</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}